*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    border: 2px solid black;
    height: 100vh;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgba(34, 34, 34, 0.712);
    overflow: hidden;


}

/* create grid and divide page width */


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100vh;
}

.illustration{
    height: 100vh;
    overflow-y: auto;
}

/* center the login page container*/

.container{
   margin: auto;
   padding: 10px;
   height: 70%;
   width: 90%;
   max-width: 700px;

}

.login{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: center;
    
    gap: 2rem;
    text-align: left;
    
}


.login.info {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/*checkbox */
.checkbox input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    background-color: white;

}


.checkbox input[type="checkbox"]:checked {
    background-color: purple;
    color: white;
}
/*.checkbox input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: purple;
}*/

.checkbox label {
    font-size: 16px;
    color: #333;
    
}


/*buttons */
button {
        width: 100%;
        height: 48px;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
    
}

.info button{
    background-color: white;
    border: 1px solid rgb(199, 195, 195);
}

.login-btn{
    color: white;
    background-color: purple;
    border: none;
    
}

.google-button{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.google-button img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* horizontal lines */

.hr-lines::before {
    content:" ";
  height: 1px;
  width: 100px;
  background: rgb(199, 195, 195);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;

}

.hr-lines::after{
    content:" ";
  height: 1px;
  width: 100px;
  background: rgb(199, 195, 195);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.hr-lines{
    position: relative;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

/* user input */

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info input{
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(199, 195, 195);  
    font-size: 1rem;
    padding: 10px;
    
}



/* register */

.register a {
    text-decoration: none;
    font-weight: 500;
    color: purple;
}




