*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgba(34, 34, 34, 0.712);
    overflow: hidden;


}

/* create grid and divide page width */


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100vh;
}

/* center the login page container*/

.container{
   margin: auto;
   
   padding: 10px;
   height: 70%;
   min-width: 700px;

}

.login{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: center;
    
    gap: 2rem;
    text-align: left;
    
}

div{
    margin: 1rem;
}


.login.info {
    display: flex;
    gap: 2rem;

}



.checkbox{
    display: flex;
}


#remember-me:checked {
    background-color: purple;
}
.checkbox a{
    color: purple;
    text-decoration: none;
    font-weight: 500;
    gap: 2rem;
    

}


/*buttons */
button {
        border-radius: 10px;
        width: 100%;
        height: 48px;
        
        font-size: 1rem;
        cursor: pointer;
    
}

.info button{
    background-color: white;
    border: 1px solid rgb(199, 195, 195);
}

.login-btn{
    color: white;
    background-color: purple;
    border: none;
    
}

.google-btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.google-btn img{
    max-width: auto;
    height: 30px;

}


/* horizontal lines */

.hr-lines::before {
    content:" ";
  height: 1px;
  width: 100px;
  background: rgb(199, 195, 195);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;

}

.hr-lines::after{
    content:" ";
  height: 1px;
  width: 100px;
  background: rgb(199, 195, 195);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.hr-lines{
    position: relative;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

/* user input */

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info input{
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(199, 195, 195);  
    font-size: 1rem;
    padding: 10px;
    
}



/* register */

.register a {
    text-decoration: none;
    font-weight: 500;
    color: purple;
}




