@font-face {
    font-family: 'Helvetica LT Std Roman';
    src: url('Helvetica\ LT\ Std\ Roman.otf') format('opentype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Helvetica LT Std Roman', sans-serif;
    font-size: 18px;
    height: 100vh;
    
}

/* logo */

.logo{

    width: 100%;
    height: 88px;
    background-color: #FFFC00;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
}

.logo img{
    width: 58px;
    height: 58px;

}

main{
    text-align: center;
}

section{
    margin: 30px;
}

/*header */

header h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding: 2rem;
}

/* buttons */

button{
    border-radius: 50px;
    width: 228px;
    height: 48px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.button1{
    background-color: #000000;
    color: #FFFC00;

}


.button2{
    background-color: #BBBBBB;
    color: white;
}

.button2:active{
    background-color: #FFFC00;
    color: black;
    font-weight: 600;
    
}

/*  trouble section*/

.trouble{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.trouble a{
    text-decoration: none;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 600;


    
}


/*login form section*/

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.login-form h3{
    color: #BBBBBB;
    font-size: 1.5rem;

}

.login-form input{
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px 20px 10px 0px;
    outline: none;
    font-size: 1rem;
    min-width: 263px;
    font-weight: 500;
}

.login-form input:focus{
    border-bottom: 3px solid #000000;
}

.login-form ::placeholder{
    color: #BBBBBB;

}

.login-form .password{
    text-decoration: none;
    font-size: 12px;
    color: #0D46D9;
    padding-left: 180px;
}


.login-form .sign-up{
    text-align: center;
}


.sign-up a{
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}

.sign-up {
    color: #626262;
    font-size: 12px;

}





